
@import "~ngx-easy-table/style.scss";


.employees{
  margin: 5px;
  border: orange 1px ;
}
.content{
  font-family: 'Roboto', sans-serif;
}
.icon{
  width: 65px;
  height: 65px;
}
.noEmployeesCase{

}

.main{
  flex-wrap: wrap;
  flex-direction: row;
  display: -webkit-flex;
  display: flex;

}
.employeeDesc{
  font-family: 'Roboto', sans-serif;
}
.employeeRFID{
  font-family: 'Roboto', sans-serif;
  background: cornflowerblue;
  color: #eeeeee;
}
.employeeRFID{
  font-family: 'Roboto', sans-serif;
}
.stats{
}
.baseInfo{
  margin-right: 50px;
  border-right: lightcoral;
}
.workerDesc{
  margin-top: 20px;
  font-family: 'Roboto', sans-serif;
  border: #aaaaaa 1px;
}

.table td, .table th {
  min-width: 100px;
}

.head{
  width: 33%;
  display: flex;
  justify-content: space-between;
}
