.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.accountInfo{
  padding-left: 15px;
  font-style: italic;

}
.icon{
  width: 60px;
  height: 40px;
}
.langMenu{
  width: 100%;
  margin-left: 138px;
}
